<!DOCTYPE html>
<html>
  <head>
    <title>Wizard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css">
  </head>

  <body>
    <div class="display-5 text-center fw-bold py-3 bg-primary text-white">Wizard</div>
    <%= yield %>
  </body>
</html>
